<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <title>Survey</title>
</head>

<body>
  <p>
    Survey page:<b><%= page %></b> for user:<b><%= uname %></b>
    <br />
    <br />
    <%= question %>
  </p>
  <p>
    <a href="/layoutSetting">Set your layout sytle</a>
  </p>
  <p></p>
  <form method="POST" action="/survey">
    <% for(var i=0; i < choices.length; i++) { %> 
        <input type='radio' name='answer' value='<%= i %>' <%= selected === i ? 'checked' : '' %> />
    <%= choices[i].choice %> <% if (layoutStyle === "vertical") { %> <br /><br />
    <% } %> <% } %> <% if (page > 1) { %>
    <input type="submit" name="submit" value="prev" />
    <% } %>
    <input type="submit" name="submit" value="next" /> <br />
    <p><em>Psst, you should pick option <%= rand %></em></p>
  </form>
</body>

</html>